.footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    
}
.footer .sosmed{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.footer .sosmed a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.footer .sosmed a div{
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.footer .sosmed a img{
    width: 40px;
}
.footer h1{
    font-size: 20px;
}




/* responsive */
@media(max-width: 1000px){
    .footer .logo{
        width: 80px;
    }
    .footer .sosmed a img{
        width: 30px;
        height: auto;
    }
    .footer h1, .footer{
        display: flex;
        font-size: 12px;
    }
}



@media(max-width: 800px){
    .footer .logo{
        width: 80px;
        height: auto;
    }
    .footer .sosmed a img{
        width: 30px;
        height: auto;
    }
    .footer h1, .footer{
        display: flex;
        font-size: 10px;
    }
}


@media(max-width: 600px){
    .footer .logo{
        width: 60px;
    }
    .footer .sosmed a img{
        width: 20px;
        height: auto;
    }
    .footer h1, .footer{
        display: flex;
        font-size: 7px;
    }
}


@media(max-width: 500px){
    .footer .logo{
        width: 40px;
    }
    .footer .sosmed a img{
        width: 10px;
        height: auto;
    }

    .footer h1, .footer{
        display: flex;
        font-size: 6px;
    }
}